<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assets "css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
<section id="main-header">
    <h1 id="name">Jaime Vi&ntilde;as</h1>
    <h2 id="title">Web Developer</h2>
    <p id="intro-phrase">Amet consectur apiscing este eugiat variussit amgiat varius orem sit amete conses tur
        apisng eugiat vais ad oremses ugiat orems elten ipsum dolor silit eugiat varius.
    </p>
    <div id="others">
        <div id="email"><span>Email</span>jaimevp54@gmail.com</div>
        <div id="github"><span>Github</span>jaimevp54</div>
        <div id="phone"><span>Phone</span>849-858-7367</div>
        <div id="codepen"><span>CodePen</span>jaimevp54</div>
    </div>
</section>
<section id="main-content">
    <div id="technichal-skills">
        <h3>Technical Skills</h3>
        <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>Django</li>
            <li>Python</li>
            <li>Ruby on Rails</li>
            <li>SLQ</li>
            <li>Docker</li>
            <li>Java</li>
            <li>Kotlin</li>
            <li>Jquery</li>
        </ul>
    </div>
    <div id="education">
        <div class="institution">
            <div class="degree">Telematics Engineering</div>
            <div class="time-period">2016 - Ongoing</div>
            <div class="name">
                Pontificia Universidad Catolica Madre y Maestra
            </div>
        </div>
        <div class="institution">
            <div class="degree">Telematics Engineering</div>
            <div class="time-period">2016 - Ongoing</div>
            <div class="name">
                Pontificia Universidad Catolica Madre y Maestra
            </div>
        </div>
    </div>
    <div id="job-experience">
        <div class="job">
            <div class="company">Bluecoding</div>
            <div class="time-period">2016 - Ongoing</div>
            <div class="title">Senior Web Developer</div>
            <div class="description">
                Worked as a Full-Stack web developer focusing on e-commerce platforms developed
                using Ruby on Rails.
            </div>
        </div>
        <div class="job">
            <div class="company">Bluecoding</div>
            <div class="time-period">2016 - Ongoing</div>
            <div class="title">Senior Web Developer</div>
            <div class="description">
                Worked as a Full-Stack web developer focusing on e-commerce platforms developed
                using Ruby on Rails.
            </div>
        </div>
        <div class="job">
            <div class="company">Bluecoding</div>
            <div class="time-period">2016 - Ongoing</div>
            <div class="title">Senior Web Developer</div>
            <div class="description">
                Worked as a Full-Stack web developer focusing on e-commerce platforms developed
                using Ruby on Rails.
            </div>
        </div>
    </div>
    <div id="languages">
        <ul>
            <li>English</li>
            <li>Spanish</li>
            <li>Esperanto</li>
        </ul>
    </div>
</section>
{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
</html>
