<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">

    {% assets "css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
<section id="main-header">
    <h1 id="name">Jaime Vi&ntilde;as</h1>
    <h2 id="title">Web Developer</h2>
    <p id="intro-phrase">Amet consectur apiscing este eugiat variussit amgiat varius orem sit amete conses tur
        apisng eugiat vais ad oremses ugiat orems elten ipsum dolor silit eugiat varius.
    </p>
    <div id="others">
        <div id="email"><span>Email</span>jaimevp54@gmail.com</div>
        <div id="github"><span>Github</span>jaimevp54</div>
        <div id="phone"><span>Phone</span>849-858-7367</div>
        <div id="codepen"><span>CodePen</span>jaimevp54</div>
    </div>
</section>
<section id="main-content">
    <div id="technical-skills">
        <h3>Technical Skills</h3>
        <ul>
            <li class="category">
                <h4>Front-End</h4>
                <ul>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JavaScript</li>
                    <li>JQuery</li>
                </ul>
            </li>
            <li class="category">
                <h4>Back-End</h4>
                <ul>
                    <li>Django</li>
                    <li>Flask</li>
                    <li>Python</li>
                    <li>Ruby on Rails</li>
                    <li>Java</li>
                    <li>Kotlin</li>
                </ul>
            </li>
            <li class="category">
                <h4>Database Management</h4>
                <ul>
                    <li>MySql</li>
                    <li>PostgreSql</li>
                    <li>Sqlite</li>
                </ul>
            </li>
            <li class="category">
                <h4>DevOps</h4>
                <ul>
                    <li>Docker</li>
                    <li>Vagrant</li>
                    <li>Jenkins</li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="education">
        <h3>Education</h3>
        <ul>
            <li class="institution">
                <div class="degree">Telematics Engineering</div>
                <div class="time-period">2012 - 2018</div>
                <div class="name">
                    Pontificia Universidad Cat&oacute;lica Madre y Maestra
                </div>
            </li>
            <li class="institution">
                <div class="degree">AAS Computer Information systems</div>
                <div class="time-period">2015 - 2016</div>
                <div class="name">Tompkins Cortland Community College</div>
            </li>
        </ul>
    </div>
    <div id="job-experience">
        <h3>Experience</h3>
        <ul>
            <li class="job">
                <div class="company">Bluecoding LLC</div>
                <div class="time-period">Jul 2016 - Ongoing</div>
                <div class="title">Senior Web Developer</div>
                <div class="description">
                    Worked as a Full-Stack web developer focusing on e-commerce platforms developed
                    using Ruby on Rails and various web frameworks.
                </div>
            </li>
            <li class="job">
                <div class="company">Pontificia Universidad Cat&oacute;lica Madre y Maestra</div>
                <div class="time-period">Dic 2016 - Feb 2017</div>
                <div class="title">IT Engineer</div>
                <div class="description">
                    Contributed on the implementation of multiple systems based on the <strong>Open Stack</strong> Platform.
                </div>
            </li>
            <li class="job">
                <div class="company">Intellisys D. Corp.</div>
                <div class="time-period">Feb 2016 - Jun 2017</div>
                <div class="title">Senior Web Developer</div>
                <div class="description">
                    Worked on the company's intranet platform implementing systems to handle sensitive data, as well as
                    the maintenance of its deployment systems and server health.
                </div>
            </li>
            <li class="job">
                <div class="company">Civil Defence at Santiago de los caballeros</div>
                <div class="time-period">2013</div>
                <div class="title">Volunteer Instructor</div>
                <div class="description">
                    Formed part of the team in charge of training on rescue and first aid skills in case of natural
                    catastrophes.
                </div>
            </li>
        </ul>
    </div>
    <div id="languages">
        <h3>Languages</h3>
        <ul>
            <li>English</li>
            <li>Spanish</li>
            <li>Esperanto</li>
        </ul>
    </div>
</section>
{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
</html>
